<form th:action="@{/addsocialmedia}" method="post">

	<div class="form-group">
		<label for="exampleInputEmail1">facebook</label> <input
			name="facebook" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">twitter</label> <input
			name="twitter" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">linkedIn</label> <input
			name="linkedIn" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">googlePlus</label> <input
			name="googlePlus" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">pinterest</label> <input
			name="pinterest" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">youTube</label> <input
			name="youTube" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">tumblr</label> <input
			name="tumblr" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">flickr</label> <input
			name="flickr" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">reddit</label> <input
			name="reddit" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">instagram</label> <input
			name="instagram" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">snapchat</label> <input
			name="snapchat" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">whatsApp</label> <input
			name="whatsApp" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>

	<button type="submit" class="btn btn-primary">Create</button>


</form>