
<form th:action="@{/updatesocialmedia/{id}(id=${socialmedia.id})}"
	th:object="${socialmedia}" method="post">

	<div class="form-group">
		<label for="exampleInputEmail1">facebook</label> <input
			th:value="${socialmedia.facebook}" name="description" type="text"
			class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">twitter</label> <input
			th:value="${socialmedia.twitter}" name="description" type="text"
			class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">linkedIn</label> <input
			th:value="${socialmedia.linkedIn}" name="description" type="text"
			class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">pinterest</label> <input
			th:value="${socialmedia.pinterest}" name="description" type="text"
			class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">youTube</label> <input
			th:value="${socialmedia.youTube}" name="description" type="text"
			class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">instagram</label> <input
			th:value="${socialmedia.instagram}" name="description" type="text"
			class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">tumblr</label> <input
			th:value="${socialmedia.tumblr}" name="description" type="text"
			class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">flickr</label> <input
			th:value="${socialmedia.flickr}" name="description" type="text"
			class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">reddit</label> <input
			th:value="${socialmedia.reddit}" name="description" type="text"
			class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">tumblr</label> <input
			th:value="${socialmedia.tumblr}" name="description" type="text"
			class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">snapchat</label> <input
			th:value="${socialmedia.snapchat}" name="description" type="text"
			class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">whatsApp</label> <input
			th:value="${socialmedia.whatsApp}" name="description" type="text"
			class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">quora</label> <input
			th:value="${socialmedia.quora}" name="description" type="text"
			class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">stumbleUpon</label> <input
			th:value="${socialmedia.stumbleUpon}" name="description" type="text"
			class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">delicious</label> <input
			th:value="${socialmedia.delicious}" name="description" type="text"
			class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">digg</label> <input
			th:value="${socialmedia.digg}" name="description" type="text"
			class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	


	<button type="submit" class="btn btn-primary">Edit</button>


</form>