<ul>
	<li><a th:href="@{/categories}">category</a></li>
	<li><a th:href="@{/medias}">media</a></li>
	<li><a th:href="@{/messages}">message</a></li>
	<li><a th:href="@{/posts}">post</a></li>
	<li><a th:href="@{/reporters}">reporter</a></li>
	<li><a th:href="@{/settings}">settings</a></li>
	<li><a th:href="@{/socialmedias}">social media</a></li>
	
	<li><a th:href="@{/addcategory}">add category</a></li>
	<li><a th:href="@{/addmedia}">add media</a></li>
	<li><a th:href="@{/addmessage}">add message</a></li>
	<li><a th:href="@{/addpost}">add post</a></li>
	<li><a th:href="@{/addreporter}">add reporter</a></li>

	
</ul>