
<form th:action="@{/updatereporter/{id}(id=${reporter.id})}"
	th:object="${reporter}" method="post">

	<div class="form-group">
		<label for="exampleInputEmail1">name</label> <input
			th:value="${reporter.name}" name="description" type="text"
			class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">designation</label> <input
			th:value="${reporter.designation}" name="description" type="text"
			class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	
	
	<button type="submit" class="btn btn-primary">Edit</button>


</form>