<div  th:fragment="category_news_list">
	<div class="position-relative mb-3"  th:each="p:${posts}">
		<img class="img-fluid w-100" src="/img/news-500x280-1.jpg"
			style="object-fit: cover;">
		<div class="overlay position-relative bg-light">
			<div class="mb-2" style="font-size: 14px;">
				<a href="" th:text="${p.category.CategoryName}">Technology</a> <span class="px-1">/</span> <span>January
					01, 2045</span>
			</div>
			<a class="h4" th:href="@{/show/{id}(id=${p.id}) }" th:text="${p.title}">Est stet amet ipsum stet clita rebum duo</a>
			<p class="m-0">Rebum dolore duo et vero ipsum clita, est ea sed
				duo diam ipsum, clita at justo, lorem amet vero eos sed sit...</p>
		</div>
	</div>
</div>