
<div th:fragment="category_news_sidebar">

	<div class="row">
		<div class="col-lg-6"  th:each="p:${posts}">
			<div class="d-flex mb-3">
				<img src="/img/news-100x100-1.jpg"
					style="width: 100px; height: 100px; object-fit: cover;">
				<div
					class="w-100 d-flex flex-column justify-content-center bg-light px-3"
					style="height: 100px;">
					<div class="mb-1" style="font-size: 13px;">
						<a href="" th:text="${p.category.CategoryName}">Technology</a> <span
							class="px-1">/</span> <span>January 01, 2045</span>
					</div>
					<a class="h6 m-0" th:href="@{/show/{id}(id=${p.id}) }" 
					th:text="${p.title}"
					>Lorem ipsum dolor sit amet consec
						adipis elit</a>
				</div>
			</div>
		</div>

	</div>

	<div th:insert="includes/category_pagination:: category_pagination"></div>

</div>

