<div th:fragment="index_top_slider">
	    <div class="container-fluid py-3">
        <div class="container">
            <div class="owl-carousel owl-carousel-2 carousel-item-3 position-relative">
                <div class="d-flex"  th:each="c:${posts}">
                    <img src="img/news-100x100-1.jpg" style="width: 80px; height: 80px; object-fit: cover;">
                    <div class="d-flex align-items-center bg-light px-3" style="height: 80px;">
                        <a class="text-secondary font-weight-semi-bold" href=""  th:text="${c.title}">Lorem ipsum dolor sit amet consec adipis elit</a>
                    </div>
                </div>
               
               
            </div>
        </div>
    </div>
</div>