
            <div class="row mb-3"  th:fragment="index_news_down">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                                <h3 class="m-0">Popular</h3>
                                <a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a>
                            </div>
                        </div>
                     
                        <div class="col-lg-6" th:each="c:${popularPosts}">
                           
                            <div class="d-flex mb-3"  >
                                <img th:src="${'photos/'+c.images}" style="width: 100px; height: 100px; object-fit: cover;">
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <a href="">Technology</a>
                                        <span class="px-1">/</span>
                                        <span>January 01, 2045</span>
                                    </div>
                                    <a class="h6 m-0" th:href="@{/show/{id}(id=${c.id}) }"  th:text="${c.title}">Lorem ipsum dolor sit amet consec adipis elit</a>
                                </div>
                            </div>
                          
                        </div>
                    </div>
  
