<div th:fragment="index_top_slider">
	    <div class="container-fluid py-3">
        <div class="container">
            <div class="owl-carousel owl-carousel-2 carousel-item-3 position-relative">
                <div class="d-flex"  th:each="c:${slidePosts}">
                    <img th:src="${'photos/'+c.images}" style="width: 80px; height: 80px; object-fit: cover;">
                    <div class="d-flex align-items-center bg-light px-3" style="height: 80px;">
                        <a class="text-secondary font-weight-semi-bold" th:href="@{/show/{id}(id=${c.id}) }"   th:text="${c.title}"></a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>