
<form th:action="@{/addmessage}" method="post">

	<div class="form-group">
		<label for="exampleInputEmail1">subject</label> <input
			name="subject" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	<div class="form-group">
		<label for="exampleInputEmail1">email</label> <input
			name="email" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>
	
	
	<div class="form-group">
		<label for="exampleInputEmail1">content</label> <input
			name="content" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>

	<button type="submit" class="btn btn-primary">Create</button>


</form>